th {
	color:#7C1515;
}
.articleinfo a {
	color:#7C1515;
}
ul#nav {
	background:#AD1D15;
	border-top:3px solid #7C1515;
	border-bottom:3px solid #7C1515;
}
ul#nav li a:hover {
	background:#DB3939;
}